


/* screen resolution for screen sizes less than 375px desktop screen */
@media screen and (max-width:375px){
    .fag_sec{
        font-family: rubik;
        max-width: 500px;
        margin: 0 auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .faqs {
        height: 100vh;
    }
    .title{
        color : hsl(229, 31%, 21%);
        margin-bottom: 30px;
        margin-top: 30px;
        text-align: center;
    }
    
    .title-para {
        text-align: center;
        width: 300px;
        margin: 0 auto
    }

    .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        margin: 0 auto;
    }

    .question h3 {
        font-size: 1rem;
    }

    .question h3:hover {
        color: hsl(0, 94%, 66%);;
    }

    .dash{
        max-width: 300px;
        height: 1px;
        margin: 0 auto;
        background-color: hsl(229, 8%, 60%);
    }

    .faq p{
        max-width: 300px;
        margin: 0 auto;
    }

    .answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 1.4s ease;
    }



    
    .faq h2{
        padding: 4px 32px;
        font-weight: 500;
    }
    
    .faq{
        /* max-width: 700px; */
        margin-top: 2rem;
        /* padding-bottom: 1rem; */
        cursor: pointer;
    } 
    
    .faq.active .answer {
        max-height: 300px;
        animation: fade 1s ease-in-out;
    }
    
    .faq.active svg {
        transform: rotate(180deg);
    }
    
    svg {
        transition: transform 0.5 ease-in;
    }
    
    @keyframes fade {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
    .fag_btn {
        margin-top: 20px;
        width: 100px;
        height: 40px;
        background: hsl(231, 69%, 60%);
        color: white;
        border: none;
        border-radius: 3px;
    }

    .input_section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 150px;
        width: 100%;
        box-sizing: border-box;
        margin: auto;
        font-family: Rubik;
    }

    .input_box {
        width: 90%;
        display: flex;
        flex-direction: column;
        flex-flow: column;
        align-items: center;
        height: 55%;
        box-sizing: border-box;
        /* will be set when there is a type error */
        /* border: 2px solid hsl(0, 94%, 66%);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px; */
    }

    .email {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-family: Rubik;
        border-radius: 10px;
        height: 60%;
    }

    .email input {
        width: 100%;
        height: 88%;
        outline: none;
        border: none;
        font-size: 15px;
        color: hsl(229, 31%, 21%);
        border: none;
        padding-left: 10px;
        margin-left: 10px;
    }

    .email i {
        display: none;
        /* will be set when there is a type error */
        /* display: flex; */
        flex-flow: column;
        width: 20%;
        height: 100%;
        outline: none;
        justify-content: center;
        font-size: larger;
        text-align: center;
        color: hsl(0, 94%, 66%);
        border: none;
    }

    .error_section {
        display: none; /* will be set when there is a type error */
        width: 100%;
        height: 40%;
        box-sizing: border-box;
        position: relative;
        background-color: hsl(0, 94%, 66%);
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    .error_section p {
        font-size: 12px;
        height: 80%;
        color: white;
        margin-top: 0;
        padding: 5px 0 0 5px;
    }

    .contact_btn {
        position: relative;
        top: -50px; /* will be set to 0 there is a type error */
        width: 90%;
        height: 30%;
        font-family: Rubik;
    }

    .contact_btn button {
        width: 100%;
        height: 100%;
        font-size: 18px;
        font-weight: 500;
        border: 2px solid hsl(0, 94%, 66%);
        border-radius: 5px;
        background-color: hsl(0, 94%, 66%);
        color: white;
        outline: none;
        transition: all 0.3s linear;
    }

    .contact_btn button:hover {
        background-color: white;
        color: hsl(0, 94%, 66%);
    }
    
    .footer{
        background: hsl(231, 69%, 60%);
        height: 60vh;
        margin-top: 50px;
    }
    
    .bfooter {
        max-width: 400px;
        margin: 0 auto;
    }
    
    .para-text {
        margin-top: 30px;
        padding-top: 50px;
        font-size: 0.6rem;
        letter-spacing: .3rem;
        color: white;
        text-align: center;
    }
    
    .para-textt {
        font-size: 1.7rem;
        letter-spacing: .2rem;
        text-align: center;
        margin-top: 30px;
        color: white;
    }
    
    #div {
        background: hsl(229, 31%, 21%);
        height: 50vh;
    }
    
    .svg {
        margin-top: 15px;
        color: #fff;
    }
    
    .ulist {
        margin-top: 30px;
        color: #fff;
        font-size: 1rem;
        text-align: center;
        font-family: rubik;
    }

    .ulist li {
        margin-top: 20px;
    }
    
    .icons {
        text-align: center;
        margin-top: 25px;
        letter-spacing: 10px;
        font-size: 23px;
        color: whitesmoke;
    }
    
   

   
}
    
    






/* screen resolution for screen sizes less than 1440px desktop screen */

@media screen and (min-width: 376px) {

 section{
    font-family: rubik;
    max-width: 500px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    color : hsl(229, 31%, 21%);
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

.title-para {
    text-align: center;
    margin-bottom: 100px;
}

.faq h2{
    padding: 4px 32px;
    font-weight: 500;
}

.faq{
    /* max-width: 700px; */
    margin-top: 2rem;
    /* padding-bottom: 1rem; */
    cursor: pointer;
}
.dash{
    max-width: 500px;
    height: 1px;
    background-color: hsl(229, 8%, 60%);
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 16px;
}

.question h3:hover {
    color: hsl(0, 94%, 66%);;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: .8rem; 
}

.faq.active .answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq.active svg {
    transform: rotate(180deg);
}

svg {
    transition: transform 0.5 ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fag_btn {
    margin-top: 20px;
    width: 100px;
    height: 40px;
    background: hsl(231, 69%, 60%);
    color: white;
    border: none;
    border-radius: 3px;
}

.footer{
    background: hsl(231, 69%, 60%);
    height: 50vh;
    margin-top: 50px;
}

.bfooter {
    max-width: 400px;
    margin: 0 auto;
}

.para-text {
    margin-top: 30px;
    padding-top: 50px;
    font-size: 0.6rem;
    letter-spacing: .3rem;
    color: white;
    text-align: center;
}

.para-textt {
    font-size: 1.7rem;
    letter-spacing: .2rem;
    text-align: center;
    margin-top: 30px;
    color: white;
}

#div {
    background: hsl(229, 31%, 21%);
    height: 10vh;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.svg {
    margin-top: 20px;
    margin-left: 150px;
    color: #fff;
}

.ulist {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    max-width: 300px;
    margin-top: 23px;
    color: #fff;
    font-size: .6rem;
    margin-bottom: 20px;
}
.icons {
    text-align: center;
    margin-top: 25px;
    letter-spacing: 10px;
    font-size: 23px;
    color: whitesmoke;
}

.input_section {
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    width: 370px;
    box-sizing: border-box;
    margin: auto;
    font-family: Rubik;
    transition: all 0.3s linear;
}

.input_box {
    width: 65%;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    /* will be set when there is a type error */
    /* border: 2px solid hsl(0, 94%, 66%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}

.email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    height: 70%;
}

.email input {
    width: 100%;
    height: 88%;
    outline: none;
    border: none;
    color: hsl(229, 31%, 21%);
    border: none;
    padding-left: 10px;
    margin-left: 10px;
}

.email i {
    display: none;
    /* will be set when there is a type error */
    /* display: flex; */
    flex-flow: column;
    width: 20%;
    height: 100%;
    outline: none;
    justify-content: center;
    font-size: larger;
    text-align: center;
    color: hsl(0, 94%, 66%);
    border: none;
}

.error_section {
    display: none;
    /* will be set when there is a type error */
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    position: relative;
    background-color: hsl(0, 94%, 66%);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.error_section p {
    font-size: 12px;
    height: 80%;
    margin-top: 0;
    padding: 5px 0 0 5px;
    color: white;
}

.contact_btn {
    justify-self: flex-start;
    width: 30%;
    height: 50%;
}

.contact_btn button {
    padding: 8px 15px;
    border: 2px solid hsl(0, 94%, 66%);
    border-radius: 5px;
    background-color: hsl(0, 94%, 66%);
    color: white;
    outline: none;
    transition: all 0.3s linear;
}

.contact_btn button:hover {
    background-color: white;
    color: hsl(0, 94%, 66%);
}
.ulist li {
    list-style-type: none;
}

.ulist li:hover {
    color: hsl(0, 94%, 66%);
} 
}
